.detail-tab {
    padding: 55px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.detail-tabs {
    grid-column: span 8;
}

.tab-panel {
    color: #444;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 21px;
    
}

.react-tabs__tab {
    color: #444;
    font-size: 26px;
    font-weight: 600;
    padding: 0px 5px 0px 0px;
    white-space: nowrap;
}

.react-tabs__tab--selected {
    color: #444;
    font-size: 26px;
    font-weight: 900;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid #11823B;
}

.react-tabs__tab:focus {
    outline: none;
    border-bottom: 4px solid #11823B;
}

@media screen and (max-width: 767px) {
    .detail-tabs {
        grid-column: span 12;
    }
}