$primary-color: #1D1D21;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

.container {
    padding: 0 45px;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

header {
    .header-section {
        background: #4ABD88;
        gap: 12px;
        padding: 8px 15px;
        white-space: nowrap;
        overflow: hidden;

        .header-content {
            gap: 32px;

            >p {
                color: #FFF;
                font-weight: 600;
                font-size: 12px;
                font-style: normal;
                letter-spacing: -0.12px;
            }
        }

        .header-menu {
            ul {

                >li {
                    a {
                        color: #FFF;
                        font-weight: 600;
                        font-size: 10px;
                        letter-spacing: -0.1px;
                        padding: 0 10px;
                    }
                }

                >li:nth-child(2) a {
                    border-left: 1px;
                    border-right: 1px;
                    border-top: 0;
                    border-bottom: 0;
                    border-color: white;
                    border-style: solid;
                }
            }
        }
    }

    nav {

        .nav-container {

            .nav-left-content {
                gap: 25px;

                .logo {
                    width: 73px;
                    height: 64px;
                }

                .nav-menu {
                    ul {
                        gap: 20px;

                        >li a {
                            gap: 12px;
                            position: relative;
                            padding-right: 25px;
                            color: #000;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: -0.56px;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                bottom: 0;
                                transform: translateY(-50%);
                                right: 0;
                                width: 1px;
                                height: 8px;
                                background-color: #8E8E8E;
                            }
                        }
                    }

                }
            }

            .nav-right-content {
                gap: 27px;
                flex: 1;
                justify-content: end;

                .search {
                    position: relative;


                    .menu-input {
                        border-radius: 4px;
                        border: 1px solid #E5E5E5;
                        padding: 14px 158px 14px 38px;
                        font-size: 14px;
                        color: $primary-color;
                        outline: none;
                        letter-spacing: -0.56px;

                        &::placeholder {
                            color: $primary-color;
                        }
                    }

                    .search-icon {
                        position: absolute;
                        top: 55%;
                        transform: translateY(-50%);
                        left: 14px;
                    }
                }

                .fav-icon {
                    position: relative;

                    .fav-icon-badge {
                        position: absolute;
                        top: -25%;
                        left: 45%;
                        background-color: #0DB04B;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        color: white;
                        font-size: 11px;
                        font-weight: 500;
                        border-radius: 100%;
                    }
                }

                .divider {
                    background: #8B8B8B;
                    width: 1px;
                    height: 15px;
                }

                .userImg {
                    gap: 5px;

                    >img {
                        height: 30px;
                        width: 30px;
                        background-color: #FCAC1F;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}

main {
    background-color: #F3F3EF;

    .product-section {
        padding: 32px 0px;

        .path {
            gap: 8px;
            line-height: 24px;

            .current-path {
                color: #11823B;
            }
        }

        .product {
            margin-top: 50px;

            .product-img {
                position: relative;

                .discountImg-container {
                    position: absolute;
                    top: 0;
                    left: 0;

                    .discountImg-content {
                        position: relative;

                        .discountImg-text {
                            position: absolute;
                            bottom: 70%;
                            left: 25%;
                            transform: translateY(-10%);
                            color: white;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }

                .saleImg-container{
                    position: relative;
                    
                }
            }
        }
    }
}

footer {
    background-color: #ECECE8;
}


@media screen and (max-width: 767px) {
    .container {
        padding: 0 17px;
    }

    .sm-d-none {
        display: none;
    }

    header {
        nav {
            .nav-container {
                .nav-left-content {
                    gap: 4px;
                }
            }
        }
    }

    main {

        .product-section {
            padding: 16px 0px;

            .product {
                margin-top: 32px;
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .lg-d-none {
        display: none;
    }


}