$primary-color: #1D1D21;
$secondary-color: #333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}

// Common class 
.container {
    max-width: 1440px;
    padding: 0 45px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    position: relative;
}

.items-center {
    align-items: center;
}

.d-none {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

header {
    max-width: 1440px;
    margin: 0 auto;

    .header-section {
        background: #4ABD88;
        gap: 12px;
        padding: 8px 15px;
        white-space: nowrap;
        overflow: hidden;

        .header-content {
            gap: 32px;

            >p {
                color: #FFF;
                font-weight: 600;
                font-size: 12px;
                font-style: normal;
                letter-spacing: -0.12px;
            }
        }

        .header-menu {
            ul {

                >li {
                    a {
                        color: #FFF;
                        font-weight: 600;
                        font-size: 10px;
                        letter-spacing: -0.1px;
                        padding: 0 10px;
                    }
                }

                >li:nth-child(2) a {
                    border-left: 1px;
                    border-right: 1px;
                    border-top: 0;
                    border-bottom: 0;
                    border-color: white;
                    border-style: solid;
                }
            }
        }
    }

    nav {

        .nav-container {

            .nav-left-content {
                gap: 25px;

                .logo {
                    width: 73px;
                    height: 64px;
                }

                .nav-menu {
                    ul {
                        gap: 20px;

                        >li a {
                            gap: 12px;
                            position: relative;
                            padding-right: 25px;
                            color: #000;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: -0.56px;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                bottom: 0;
                                transform: translateY(-50%);
                                right: 0;
                                width: 1px;
                                height: 8px;
                                background-color: #8E8E8E;
                            }
                        }
                    }

                }
            }

            .nav-right-content {
                gap: 27px;
                flex: 1;
                justify-content: end;

                .search {
                    position: relative;


                    .menu-input {
                        border-radius: 4px;
                        border: 1px solid #E5E5E5;
                        padding: 14px 158px 14px 38px;
                        font-size: 14px;
                        color: $primary-color;
                        outline: none;
                        letter-spacing: -0.56px;

                        &::placeholder {
                            color: $primary-color;
                        }
                    }

                    .search-icon {
                        position: absolute;
                        top: 55%;
                        transform: translateY(-50%);
                        left: 14px;
                    }
                }

                .fav-icon {
                    position: relative;

                    .fav-icon-badge {
                        position: absolute;
                        top: -25%;
                        left: 45%;
                        background-color: #0DB04B;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        color: white;
                        font-size: 11px;
                        font-weight: 500;
                        border-radius: 100%;
                    }
                }

                .divider {
                    background: #8B8B8B;
                    width: 1px;
                    height: 15px;
                }

                .userImg {
                    gap: 5px;

                    >img {
                        height: 30px;
                        width: 30px;
                        background-color: #FCAC1F;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}

main {
    background-color: #F3F3EF;

    .product-section {
        padding: 32px 0px;

        .path {
            gap: 8px;
            line-height: 24px;

            .current-path {
                color: #11823B;
            }
        }

        .product {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 45px;

            .product-img {
                position: relative;
                grid-column: span 4;

                .productImg {
                    width: 100%;
                    height: 100%;
                }

                .discountImg-container {
                    position: absolute;
                    top: 0;
                    left: 5%;

                    .discountImg-content {
                        position: relative;

                        .discountImg-text {
                            position: absolute;
                            bottom: 70%;
                            left: 25%;
                            transform: translateY(-10%);
                            color: white;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }

                .saleImg-container,
                .sale-img-vector {
                    position: absolute;
                    right: 5%;
                    bottom: 0;

                    .saleImg-content {
                        position: relative;

                        .dash-top {
                            position: absolute;
                            top: 10%;
                            left: 10%;
                        }

                        .dash-bottom {
                            position: absolute;
                            bottom: 15%;
                            left: 15%;
                        }

                        .sale-text {
                            font-size: 29px;
                            font-weight: 700;
                            color: white;
                            position: absolute;
                            top: 30%;
                            left: 10%;
                            transform: rotate(-12.599deg);

                            .super-text {
                                font-size: 19px;
                                color: #D46400;
                                display: block;
                                margin-bottom: -10px;
                            }
                        }

                        .sale-exclamation {
                            font-size: 41px;
                            font-weight: 700;
                            color: white;
                            position: absolute;
                            top: 15%;
                            right: 20%;
                            transform: rotate(-12.599deg);

                            .exclamation-symbol {
                                color: #D46400;
                            }
                        }
                    }
                }
            }

            .product-info {
                grid-column: span 5;

                .product-title {
                    color: $primary-color;
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 118%;
                    letter-spacing: -0.36px;
                    margin-bottom: 4px;
                }

                .product-badge {
                    color: #744210;
                    background-color: #FEEBCB;
                    border-radius: 2px;
                    padding: 0 2px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16px;
                }

                .price {
                    color: $secondary-color;
                    font-size: 40px;
                    font-weight: 700;
                    letter-spacing: -1.2px;
                    gap: 16px;
                    margin-top: 16px;

                    .strikethrough-text {
                        text-decoration: line-through;
                        color: #11823B;
                        font-size: 24px;
                        font-weight: 700;
                        letter-spacing: -0.72px;
                    }
                }

                .product-short-info {
                    gap: 25px;
                    margin-top: 20px;

                    .short-info-title-container {
                        flex-direction: column;
                        gap: 14px;

                        .short-info-title {
                            color: $secondary-color;
                            font-size: 14px;
                            font-weight: 700;
                            letter-spacing: -0.42px;
                        }
                    }

                    .short-info-details-container {
                        flex-direction: column;
                        gap: 14px;

                        .short-info-details-container-child-1 {
                            color: #11823B;
                            font-size: 14px;
                            font-weight: 700;
                            letter-spacing: -0.42px;
                        }

                        .short-info-details-container-child-2 {
                            color: #777;
                            font-size: 14px;
                            font-weight: 700;
                            letter-spacing: -0.42px;
                        }

                        .short-info-details-container-child-3 {
                            color: #22543D;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 16px;
                            text-transform: uppercase;
                            flex-wrap: wrap;
                            gap: 10px;

                            >span {
                                padding: 0 4px;
                                border-radius: 2px;
                                background: #C6F6D5;
                            }
                        }
                    }
                }

                .product-tagline {
                    margin-top: 40px;
                    color: $secondary-color;
                    font-size: 12px;
                    letter-spacing: -0.12px;
                }

                .product-interaction {
                    outline: none;
                    margin-top: 22px;
                    gap: 8px;

                    .cart-btn {
                        gap: 8px;
                        padding: 10px 40px;
                        border-radius: 4px;
                        background-color: #0DB04B;
                        color: #FFF;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 29px;
                        letter-spacing: -0.18px;
                        transition: .5s;

                        &:hover {
                            background-color: #43be72;
                        }
                    }

                    .interaction {
                        padding: 11px;
                        justify-content: center;
                        border-radius: 4px;
                        background: #FFF;
                    }
                }
            }

            .related-items {
                grid-column: span 3;

                .related-items-img {
                    width: 60px;
                }

                .related-items-title {
                    color: $primary-color;
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 16px;
                }

                .related-items-container {
                    gap: 8px;
                    position: relative;
                    margin-bottom: 10px;

                    .related-items-content {
                        flex-direction: column;
                        gap: 3px;


                        .related-items-content-title {
                            color: $primary-color;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: -0.28px;
                        }

                        .related-items-content-weight {
                            color: #888;
                            font-size: 10px;
                            font-weight: 600;
                            line-height: 10px;
                            letter-spacing: -0.2px;
                        }

                        .related-items-content-price {
                            color: #444;
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 20px;
                            letter-spacing: -0.3px;
                        }
                    }

                    .related-items-cart-icon {
                        width: 26px;
                        height: 26px;
                        justify-content: center;
                        border-radius: 30px;
                        background: #11823B;
                        position: absolute;
                        top: -20%;
                        right: -2%;
                    }
                }

                .side-img {
                    margin-top: 16px;
                    width: 308px;
                    height: 250px;
                }
            }
        }
    }

    // Related Products Section
    .related-products-section {
        padding: 0px 0px 50px 0px;

        .related-products-title-container {
            gap: 17px;

            .related-products-title {
                color: $primary-color;
                font-size: 24px;
                font-weight: 700;
            }

            .slider-btn {
                gap: 7px;

                .arrow-left,
                .arrow-right {
                    width: 32px;
                    height: 32px;
                    padding: 4px;
                    justify-content: center;
                    border-radius: 4px;
                    background: #FFF;
                    transition: .3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .arrow-left {
                    border: 1px solid #DFE3E8;
                    opacity: 0.5;
                }
            }
        }

        .card-container {
            position: relative;
            width: 100%;
            margin-top: 25px;
            padding: 16px;
            border-radius: 8px;
            background: #FFF;
            box-shadow: 0px 5px 20px 0px rgba(68, 68, 68, 0.05);

            .quantity-management {
                position: absolute;
                width: 100%;
                padding-right: 32px;

                .quantity-container {
                    position: relative;
                    width: 100%;

                    .quantity-btn {
                        justify-content: center;
                        width: 38px;
                        height: 38px;
                        border-radius: 100%;
                        background-color: #0DB04B;
                        transition: 0.3s;

                        &:hover {
                            background-color: #2b9754;
                        }
                    }

                    .quantity-adjustment {
                        position: absolute;
                        width: 100%;
                        top: 0;
                        justify-content: space-between;
                        color: white;
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: -0.36px;
                        padding: 0px 14px;
                        border-radius: 30px;
                        background: #0DB04B;
                    }
                }
            }

            .no-badge {
                padding-top: 20px;
            }

            .no-sale {
                padding-top: 20px;
            }

            .no-badge_no-sale {
                padding-top: 45px;
            }

            .card-img {
                padding-top: 10px;
                width: 140px;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            .card-body {
                margin-top: 5px;
                flex-direction: column;
                gap: 6px;

                .card-badge {
                    justify-content: end;

                    span {
                        border-radius: 2px;
                        padding: 0 4px;
                        background: #B2F5EA;
                        color: #234E52;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 16px;
                        text-transform: uppercase;
                    }
                }

                .stock {
                    color: #0DB04B;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: -0.48px;
                }

                .card-title {
                    color: $primary-color;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: -0.32px;
                }

                .sale {

                    span {
                        color: #744210;
                        background-color: #FEEBCB;
                        border-radius: 2px;
                        padding: 0 4px;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 16px;
                    }
                }

                .weight {
                    color: #828282;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: -0.24px;
                }

                .card-price-container {
                    gap: 8px;

                    .card-item-price {
                        color: #1D1D1D;
                        font-size: 20px;
                        font-weight: 700;
                        letter-spacing: -0.4px;
                    }

                    .card-item-sale-price {
                        text-decoration: line-through;
                        color: #11823B;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: -0.32px;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #ECECE8;
    padding: 30px 90px;

    .top-footer {
        border-top: 1px solid #E1E1E1;
        border-bottom: 1px solid #E1E1E1;
        padding: 45px 0px;
        display: grid;
        grid-template-columns: 5fr 3fr 4fr;
        gap: 78px;

        .col {

            >h3 {
                white-space: nowrap;
                margin-bottom: 26px;
                color: $secondary-color;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: -0.28px;
            }
        }

        .nav-col {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 78px;

            .col ul {
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {
                    position: relative;
                    cursor: pointer;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        width: 0%;
                        height: 2px;
                        background-color: $secondary-color;
                        opacity: 0.5;
                        transition: .3s;

                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }

                li>a {
                    color: $secondary-color;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: -0.2px;
                    white-space: nowrap;
                }
            }
        }
    }

    .top-footer:nth-child(1) {
        .col {
            .footer-description {
                color: #444;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: -0.36px;
                margin-top: 35px;
                margin-bottom: 22px;
            }

            >p,
            .contact-mail {
                color: $secondary-color;
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: -0.3px;
            }

            .contact-number {
                color: $secondary-color;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: -0.32px;
                display: block;
                margin-top: 9px;
                margin-bottom: 17px;
                margin-left: 27px;
            }

            .contact-mail {
                margin-top: 16px;
            }

            .hotline,
            .contact-address,
            .contact-mail {
                gap: 8px;
            }

            .app-img {
                margin-top: 22px;
                gap: 8px;
            }
        }
    }
}


// Responsive Start
@media screen and (max-width: 767px) {
    .container {
        padding: 0 17px;
    }

    .sm-d-none {
        display: none;
    }

    header {
        nav {
            .nav-container {
                .nav-left-content {
                    gap: 4px;
                }
            }
        }
    }

    main {

        .product-section {
            padding: 16px 0px;

            .product {
                margin-top: 32px;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    footer {
        padding: 30px 24px;

        .top-footer {
            display: grid;
            grid-template-columns: 12fr;
        }
    }
}

@media screen and (min-width: 768px) {
    .lg-d-none {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .md-d-none {
        display: none;
    }
}