* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 45px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  position: relative;
}

.items-center {
  align-items: center;
}

header {
  max-width: 1440px;
  margin: 0 auto;
}
header .header-section {
  background: #4ABD88;
  gap: 12px;
  padding: 8px 15px;
  white-space: nowrap;
  overflow: hidden;
}
header .header-section .header-content {
  gap: 32px;
}
header .header-section .header-content > p {
  color: #FFF;
  font-weight: 600;
  font-size: 12px;
  font-style: normal;
  letter-spacing: -0.12px;
}
header .header-section .header-menu ul > li a {
  color: #FFF;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: -0.1px;
  padding: 0 10px;
}
header .header-section .header-menu ul > li:nth-child(2) a {
  border-left: 1px;
  border-right: 1px;
  border-top: 0;
  border-bottom: 0;
  border-color: white;
  border-style: solid;
}
header nav .nav-container .nav-left-content {
  gap: 25px;
}
header nav .nav-container .nav-left-content .logo {
  width: 73px;
  height: 64px;
}
header nav .nav-container .nav-left-content .nav-menu ul {
  gap: 20px;
}
header nav .nav-container .nav-left-content .nav-menu ul > li a {
  gap: 12px;
  position: relative;
  padding-right: 25px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}
header nav .nav-container .nav-left-content .nav-menu ul > li a::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 8px;
  background-color: #8E8E8E;
}
header nav .nav-container .nav-right-content {
  gap: 27px;
  flex: 1;
  justify-content: end;
}
header nav .nav-container .nav-right-content .search {
  position: relative;
}
header nav .nav-container .nav-right-content .search .menu-input {
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  padding: 14px 158px 14px 38px;
  font-size: 14px;
  color: #1D1D21;
  outline: none;
  letter-spacing: -0.56px;
}
header nav .nav-container .nav-right-content .search .menu-input::-moz-placeholder {
  color: #1D1D21;
}
header nav .nav-container .nav-right-content .search .menu-input::placeholder {
  color: #1D1D21;
}
header nav .nav-container .nav-right-content .search .search-icon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 14px;
}
header nav .nav-container .nav-right-content .fav-icon {
  position: relative;
}
header nav .nav-container .nav-right-content .fav-icon .fav-icon-badge {
  position: absolute;
  top: -25%;
  left: 45%;
  background-color: #0DB04B;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  font-size: 11px;
  font-weight: 500;
  border-radius: 100%;
}
header nav .nav-container .nav-right-content .divider {
  background: #8B8B8B;
  width: 1px;
  height: 15px;
}
header nav .nav-container .nav-right-content .userImg {
  gap: 5px;
}
header nav .nav-container .nav-right-content .userImg > img {
  height: 30px;
  width: 30px;
  background-color: #FCAC1F;
  border-radius: 100%;
}

main {
  background-color: #F3F3EF;
}
main .product-section {
  padding: 32px 0px;
}
main .product-section .path {
  gap: 8px;
  line-height: 24px;
}
main .product-section .path .current-path {
  color: #11823B;
}
main .product-section .product {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 45px;
}
main .product-section .product .product-img {
  position: relative;
  grid-column: span 4;
}
main .product-section .product .product-img .productImg {
  width: 100%;
  height: 100%;
}
main .product-section .product .product-img .discountImg-container {
  position: absolute;
  top: 0;
  left: 5%;
}
main .product-section .product .product-img .discountImg-container .discountImg-content {
  position: relative;
}
main .product-section .product .product-img .discountImg-container .discountImg-content .discountImg-text {
  position: absolute;
  bottom: 70%;
  left: 25%;
  transform: translateY(-10%);
  color: white;
  font-size: 14px;
  font-weight: 600;
}
main .product-section .product .product-img .saleImg-container,
main .product-section .product .product-img .sale-img-vector {
  position: absolute;
  right: 5%;
  bottom: 0;
}
main .product-section .product .product-img .saleImg-container .saleImg-content,
main .product-section .product .product-img .sale-img-vector .saleImg-content {
  position: relative;
}
main .product-section .product .product-img .saleImg-container .saleImg-content .dash-top,
main .product-section .product .product-img .sale-img-vector .saleImg-content .dash-top {
  position: absolute;
  top: 10%;
  left: 10%;
}
main .product-section .product .product-img .saleImg-container .saleImg-content .dash-bottom,
main .product-section .product .product-img .sale-img-vector .saleImg-content .dash-bottom {
  position: absolute;
  bottom: 15%;
  left: 15%;
}
main .product-section .product .product-img .saleImg-container .saleImg-content .sale-text,
main .product-section .product .product-img .sale-img-vector .saleImg-content .sale-text {
  font-size: 29px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: rotate(-12.599deg);
}
main .product-section .product .product-img .saleImg-container .saleImg-content .sale-text .super-text,
main .product-section .product .product-img .sale-img-vector .saleImg-content .sale-text .super-text {
  font-size: 19px;
  color: #D46400;
  display: block;
  margin-bottom: -10px;
}
main .product-section .product .product-img .saleImg-container .saleImg-content .sale-exclamation,
main .product-section .product .product-img .sale-img-vector .saleImg-content .sale-exclamation {
  font-size: 41px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 15%;
  right: 20%;
  transform: rotate(-12.599deg);
}
main .product-section .product .product-img .saleImg-container .saleImg-content .sale-exclamation .exclamation-symbol,
main .product-section .product .product-img .sale-img-vector .saleImg-content .sale-exclamation .exclamation-symbol {
  color: #D46400;
}
main .product-section .product .product-info {
  grid-column: span 5;
}
main .product-section .product .product-info .product-title {
  color: #1D1D21;
  font-size: 36px;
  font-weight: 600;
  line-height: 118%;
  letter-spacing: -0.36px;
  margin-bottom: 4px;
}
main .product-section .product .product-info .product-badge {
  color: #744210;
  background-color: #FEEBCB;
  border-radius: 2px;
  padding: 0 2px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
main .product-section .product .product-info .price {
  color: #333;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1.2px;
  gap: 16px;
  margin-top: 16px;
}
main .product-section .product .product-info .price .strikethrough-text {
  text-decoration: line-through;
  color: #11823B;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.72px;
}
main .product-section .product .product-info .product-short-info {
  gap: 25px;
  margin-top: 20px;
}
main .product-section .product .product-info .product-short-info .short-info-title-container {
  flex-direction: column;
  gap: 14px;
}
main .product-section .product .product-info .product-short-info .short-info-title-container .short-info-title {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.42px;
}
main .product-section .product .product-info .product-short-info .short-info-details-container {
  flex-direction: column;
  gap: 14px;
}
main .product-section .product .product-info .product-short-info .short-info-details-container .short-info-details-container-child-1 {
  color: #11823B;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.42px;
}
main .product-section .product .product-info .product-short-info .short-info-details-container .short-info-details-container-child-2 {
  color: #777;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.42px;
}
main .product-section .product .product-info .product-short-info .short-info-details-container .short-info-details-container-child-3 {
  color: #22543D;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  flex-wrap: wrap;
  gap: 10px;
}
main .product-section .product .product-info .product-short-info .short-info-details-container .short-info-details-container-child-3 > span {
  padding: 0 4px;
  border-radius: 2px;
  background: #C6F6D5;
}
main .product-section .product .product-info .product-tagline {
  margin-top: 40px;
  color: #333;
  font-size: 12px;
  letter-spacing: -0.12px;
}
main .product-section .product .product-info .product-interaction {
  outline: none;
  border: none;
  margin-top: 22px;
  gap: 8px;
}
main .product-section .product .product-info .product-interaction .cart-btn {
  gap: 8px;
  border: none;
  padding: 10px 40px;
  border-radius: 4px;
  background-color: #0DB04B;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.18px;
  cursor: pointer;
  transition: 0.5s;
}
main .product-section .product .product-info .product-interaction .cart-btn:hover {
  background-color: #43be72;
}
main .product-section .product .product-info .product-interaction .interaction {
  padding: 11px;
  justify-content: center;
  border-radius: 4px;
  background: #FFF;
  cursor: pointer;
}
main .product-section .product .related-items {
  grid-column: span 3;
}
main .product-section .product .related-items .related-items-img {
  width: 60px;
}
main .product-section .product .related-items .related-items-title {
  color: #1D1D21;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
main .product-section .product .related-items .related-items-container {
  gap: 8px;
  position: relative;
  margin-bottom: 10px;
}
main .product-section .product .related-items .related-items-container .related-items-content {
  flex-direction: column;
  gap: 3px;
}
main .product-section .product .related-items .related-items-container .related-items-content .related-items-content-title {
  color: #1D1D21;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.28px;
}
main .product-section .product .related-items .related-items-container .related-items-content .related-items-content-weight {
  color: #888;
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: -0.2px;
}
main .product-section .product .related-items .related-items-container .related-items-content .related-items-content-price {
  color: #444;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.3px;
}
main .product-section .product .related-items .related-items-container .related-items-cart-icon {
  width: 26px;
  height: 26px;
  justify-content: center;
  border-radius: 30px;
  background: #11823B;
  position: absolute;
  top: -20%;
  right: -2%;
  cursor: pointer;
}
main .product-section .product .related-items .side-img {
  margin-top: 16px;
  width: 308px;
  height: 250px;
}
main .related-products-section {
  padding: 0px 0px 50px 0px;
}
main .related-products-section .related-products-title-container {
  gap: 17px;
}
main .related-products-section .related-products-title-container .related-products-title {
  color: #1D1D21;
  font-size: 24px;
  font-weight: 700;
}
main .related-products-section .related-products-title-container .slider-btn {
  gap: 7px;
}
main .related-products-section .related-products-title-container .slider-btn .arrow-left,
main .related-products-section .related-products-title-container .slider-btn .arrow-right {
  width: 32px;
  height: 32px;
  padding: 4px;
  justify-content: center;
  border-radius: 4px;
  background: #FFF;
  cursor: pointer;
  transition: 0.3s;
}
main .related-products-section .related-products-title-container .slider-btn .arrow-left:hover,
main .related-products-section .related-products-title-container .slider-btn .arrow-right:hover {
  transform: scale(1.1);
}
main .related-products-section .related-products-title-container .slider-btn .arrow-left {
  border: 1px solid #DFE3E8;
  opacity: 0.5;
}
main .related-products-section .card-container {
  margin-top: 25px;
  padding: 16px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 5px 20px 0px rgba(68, 68, 68, 0.05);
}
main .related-products-section .card-container .no-badge {
  padding-top: 20px;
}
main .related-products-section .card-container .no-sale {
  padding-top: 20px;
}
main .related-products-section .card-container .no-badge_no-sale {
  padding-top: 45px;
}
main .related-products-section .card-container .card-img {
  width: 140px;
  margin: 0 auto;
}
main .related-products-section .card-container .card-img img {
  width: 100%;
}
main .related-products-section .card-container .card-body {
  margin-top: 5px;
  flex-direction: column;
  gap: 6px;
}
main .related-products-section .card-container .card-body .card-badge {
  justify-content: end;
}
main .related-products-section .card-container .card-body .card-badge span {
  border-radius: 2px;
  padding: 0 4px;
  background: #B2F5EA;
  color: #234E52;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
main .related-products-section .card-container .card-body .stock {
  color: #0DB04B;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.48px;
}
main .related-products-section .card-container .card-body .card-title {
  color: #1D1D21;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
}
main .related-products-section .card-container .card-body .sale span {
  color: #744210;
  background-color: #FEEBCB;
  border-radius: 2px;
  padding: 0 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
main .related-products-section .card-container .card-body .weight {
  color: #828282;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.24px;
}
main .related-products-section .card-container .card-body .card-price-container {
  gap: 8px;
}
main .related-products-section .card-container .card-body .card-price-container .card-item-price {
  color: #1D1D1D;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.4px;
}
main .related-products-section .card-container .card-body .card-price-container .card-item-sale-price {
  text-decoration: line-through;
  color: #11823B;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}

footer {
  background-color: #ECECE8;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 17px;
  }
  .sm-d-none {
    display: none;
  }
  header nav .nav-container .nav-left-content {
    gap: 4px;
  }
  main .product-section {
    padding: 16px 0px;
  }
  main .product-section .product {
    margin-top: 32px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .lg-d-none {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .md-d-none {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */